@charset "UTF-8";
/* CSS Document */

 .network-card {
        background-color: #001927;
        border: 2px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
        height: 100%;
        margin: 0;
        padding: 1em;
        transition: border-color .2s ease;
        width:100%
    }

    .network-card:hover {
        border-color: #007eda;
        cursor:pointer
    }

    .network-card__wrapper {
        color: #fff;
        display: block;
        text-decoration: none;
        width:100%
    }

    .network-card__image {
        display: block;
        height: 170px;
        margin: 0 auto 2em;
        width:170px
    }

    .network-card__caption {
        font-size:1.25rem
    }

}
